<h1>Proves Git</h1>
<ul>
<li>Pas 1: Inicialitzar el repositori: git init</li>
<li>Pas 2: Afegir tots els fitxers: git add .</li>
<li>Pas 3: Pujar els canvis al repositori: git commit . -m "Pujar canvis"</li>
<li>Pas 4: Crear una branca: git branch nova-branca</li>

</ul>
